docs/n8n-workflow-processar-pgdasd.json
{
  "name": "Processar PGDAS-D (PDF ou Texto)",
  "nodes": [
    {
      "parameters": {
        "path": "processar-pgdasd",
        "responseMode": "responseNode",
        "httpMethod": "POST",
        "options": {}
      },
      "id": "node-webhook-1",
      "name": "Webhook - Upload PDF",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 250]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$binary.file !== undefined}}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "node-if-upload-1",
      "name": "Validar Upload",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [320, 250]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{!!$json.text && $json.text.length > 0}}",
              "operation": "isTrue"
            }
          ]
        }
      },
      "id": "node-if-text-1",
      "name": "IF Texto",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [520, 350]
    },
    {
      "parameters": {
        "url": "http://localhost:3001/api/process-pdf",
        "responseFormat": "json",
        "options": {},
        "sendBinaryData": true,
        "binaryPropertyName": "file"
      },
      "id": "node-http-pdf-1",
      "name": "HTTP Request (PDF)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [540, 160]
    },
    {
      "parameters": {
        "url": "http://localhost:3001/api/process-pdf",
        "responseFormat": "json",
        "jsonParameters": true,
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "text",
              "value": "={{$json.text}}"
            }
          ]
        }
      },
      "id": "node-http-text-1",
      "name": "HTTP Request (Texto)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [740, 350]
    },
    {
      "parameters": {
        "functionCode": "return [{ json: { error: 'Nenhum arquivo ou texto enviado', status: 400 } }];"
      },
      "id": "node-error-1",
      "name": "Erro: Sem PDF/Text",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [740, 500]
    },
    {
      "parameters": {
        "respondWith": "lastNode",
        "options": {
          "responseCode": 200
        }
      },
      "id": "node-respond-1",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [960, 250]
    }
  ],
  "connections": {
    "Webhook - Upload PDF": {
      "main": [
        [{ "node": "Validar Upload", "type": "main", "index": 0 }]
      ]
    },
    "Validar Upload": {
      "main": [
        [{ "node": "HTTP Request (PDF)", "type": "main", "index": 0 }],
        [{ "node": "IF Texto", "type": "main", "index": 0 }]
      ]
    },
    "IF Texto": {
      "main": [
        [{ "node": "HTTP Request (Texto)", "type": "main", "index": 0 }],
        [{ "node": "Erro: Sem PDF/Text", "type": "main", "index": 0 }]
      ]
    },
    "HTTP Request (PDF)": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    },
    "HTTP Request (Texto)": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    },
    "Erro: Sem PDF/Text": {
      "main": [
        [{ "node": "Respond to Webhook", "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
